* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  list-style-type: none;
  font-family: var(--text);
  color: var(--black);
  font-weight: 400;
}

:root {
  --title: "Lilita One", sans-serif;
  --text: "Lato", sans-serif;
  --red: #f43127;
  --darker-red: #fd1206;
  --yellow: #f59a1b;
  --green: #00a950;
  --lightgreen: #a1cf67;
  --black: #141318;
  --brown: #3B200B;
  --light-brown: #fae2cb;
}

body {
  background-color: #faf3f2;
}

/* img {
  max-width: 100%;
} */

.title {
  font-family: var(--title);
}
.row {
  display: flex;
}

/* Header */

header {
  min-height: 35rem;
  background-image: url(../assets/banner-hero.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  margin-bottom: 4rem;
}

.logo {
  margin-right: 2rem;
}

nav {
  width: 100%;
  background: rgba(59, 32, 11, 0.05);
  backdrop-filter: blur(10px);
}

.nav-container {
  max-width: 1200px;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0.2rem;
}

.navigation {
  gap: 1rem;
  margin-right: 5rem;
}

.navigation li a {
  transition: 0.5s ease;
}

.navigation li a:hover {
  color: var(--yellow);
}

.contact-box {
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 15rem;
}

.contact-us {
  align-items: center;
  gap: 0.5rem;
  background-color: var(--yellow);
  padding: 0.2rem;
  border-radius: 4px;
}

.socials {
  border-right: 1px solid black;
  padding-inline: 1rem;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding-block: 0.5rem;
}

.whatsapp-icon,
.instragram-icon {
  width: 1.2rem;
}

.ifood-icon {
  width: 1.8rem;
}

#mobile-btn {
  display: none;
  margin-right: 2rem;
  font-size: 1.5rem;
  transition: 0.5s ease;
}

#mobile-btn.active {
  transform: rotate(90deg);
}

.mobile-menu {
  text-align: center;
  background: rgba(59, 32, 11, 0.05);
  backdrop-filter: blur(10px);
  height: 0rem;
  overflow: hidden;
  transition: 0.5s ease;
  position: absolute;
  width: 100%;
}

.mobile-menu.active {
  height: 20rem;
  transition: 0.5s ease;
}

.mobile-menu-list {
  flex-direction: column;
  gap: 2rem;
}

.cta-btn {
  padding-block: 0.5rem;
  padding-inline: 1rem;
  background-color: var(--red);
  color: white;
  font-weight: bold;
  margin-top: 1rem;
  border-radius: 3px;
  transition: .5s ease;
  cursor: pointer;
}

.cta-btn:hover{
  background-color: var(--darker-red);
} 
/* banner hero */

.hero-banner {
  max-width: 1200px;
  margin: 5rem auto 0 auto;
  padding: 1rem;
}

.hero-banner h1 {
  font-size: 5rem;
}

.text-highlight {
  color: var(--yellow);
}

.background-highlight {
  background-color: var(--yellow);
  border-radius: 3px;
  padding: 0.2rem;
  font-weight: bold;
}

.info {
  max-width: 1000px;
  position: absolute;
  background-color: white;
  align-items: center;
  left: 0;
  right: 0;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  border-radius: 7px;
  box-shadow: 0px 4px 40px rgba(179, 155, 132, 0.5);
  flex-wrap: wrap;
  gap: 0.5rem;
}

.info-icons {
  background-color: var(--light-brown);
  padding: 0.5rem;
  border-radius: 50px;
}

.content-info {
  align-items: center;
  gap: 1rem;
}

/* Offers */

main {
  width: 100%;
  padding-block: 2rem;
}
.specials-offers {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 2rem;
}

.specials-offers h2, .specials-offers p{
  margin-bottom: .4rem;
}


.offers {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1.05fr;
  gap: 10px 10px;
  grid-template-areas:
    "first-offer second-offer"
    "first-offer third-offer";
  min-height: 25rem;
}

.offer-info {
  width: 95%;
}

.offer-info h2,
.offer-info span {
  color: white;
}

.offer-alert p,
.offer-alert h3 {
  color: white;
  margin: 0;
}

.first-offer,
.second-offer,
.third-offer {
  border-radius: 7px;
  padding: 1rem;
}

.first-offer{ 
  padding: 2rem;
}

.first-offer h2,
.second-offer h2,
.third-offer h2{
  margin: 0;
}

.first-offer {
  background: url(../assets/oferta-1.png) no-repeat;
  background-size: cover;
  grid-area: first-offer;
  background-position: center;
  display: flex;
}

.offer-alert {
  align-self: flex-end;
}

.second-offer {
  background: url(../assets/oferta-2.png) no-repeat;
  background-size: cover;
  grid-area: second-offer;
  background-position: center;
}

.third-offer {
  background: url(../assets/oferta-3.png) no-repeat;
  background-size: cover;
  grid-area: third-offer;
  background-position: center;
}

.business-hours{
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.hour-info{
  background-color: var(--red);
  margin-top: 1rem;
  gap: 1rem;
  padding: .5rem;
  border-radius: 7px;
  width: 50%;
}

.timer{

  align-items: center;
  justify-content: center;
}

.timer svg{
  border-radius: 50%;
  padding: 1rem;
  background-color: rgba(29, 6, 5, 0.2); 
}
.timer-info{
  border-left: 1px solid rgba(29, 6, 5, 0.4);
  padding-inline: 1rem;
}

.timer-info h3{
  color: #1D0605;
}

.timer-info p{ 
  color: var(--light-brown);
}

.instagramHashCta {
  text-align: center;
}

.instagramHashCta h1{
  color: var(--red);
}

.instagramHashCta p{
  color: rgba(29, 6, 5, 0.69);;
}

/* Menu */

.menu{
  margin-top: 3rem;
  width: 100%;
  min-height: 20rem;
}


.left-cta{ 
  background-image: url(../assets/banner-menu.png);
  background-position:left;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 40rem;
  flex: 2;
  justify-content: flex-end;
}


.left-cta-menu-info{ 
  max-width: 30rem;
  min-height: 10rem;
  align-self: center;
  padding: .5rem;
}

.left-cta-menu-info h1{
  font-size: 3rem;
  color: var(--brown);
  margin-bottom: 1rem;
}

.left-cta-menu-info span{
  color: var(--brown);
}

.menu-list{
  padding-inline: 1rem;
  padding-block: 2rem;
  flex: 1;
  background-color: var(--brown);
}

.menu-list h2{ 
  color: var(--yellow);
  text-align: left;
}

#menuList{
  margin-top: 1rem;
}

#menuList h2, #menuList p{ 
  color: var(--light-brown);
  text-align: left;
}

#menuList p  {
  margin-top: .5rem;
  padding-right: 1rem;
}

#menuList li{ 
   margin-bottom: 1rem;
}
/* Menu */

/* media queries */
@media (max-width: 960px) {
  header {
    margin-bottom: 6rem;
  }

  .contact-box,
  .navigation {
    display: none;
  }

  #mobile-btn {
    display: block;
  }

  header {
    min-height: 50rem;
  }

  .info {
    width: 85%;
    bottom: -6rem;
  }

  .menu{ 
    flex-direction: column;
  }

  .left-cta{ 
    background-position:top right;
  }

}


@media (max-width: 540px) {


  html{
    font-size: 80%;
  }
  .info {
    bottom: -8rem;
  }

  header {
    background-image: url(../assets/Banner\ mobile\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 8rem;
  }

  .hero-banner h1 {
    font-size: 3.5rem;
  }
  .offers {
    grid-template-columns: 1fr;
    grid-template-rows: 10fr 10fr 10fr;
    grid-template-areas:
      "first-offer "
      "second-offer"
      "third-offer";
  }

  .offer-info h2{
    font-size: 1.5rem;
  }

  .hour-info{
    width: 100%;
  }

  .instagramHashCta{
    margin: 0 auto;
  }

  .left-cta{
    min-height: 30rem;
    background-position:  right;
  }
}
