* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  list-style-type: none;
  font-family: var(--text);
  color: var(--black);
}

:root {
  --title: "Lilita One", sans-serif;
  --text: "Lato", sans-serif;
  --red: #f43127;
  --yellow: #f59a1b;
  --green: #00a950;
  --lightgreen: #a1cf67;
  --black: #141318;
  --brown: #1d0605;
  --light-brown: #fae2cb;
}

body {
  background-color: #faf3f2;
}

img {
  max-width: 100%;
}

.title {
  font-family: var(--title);
}
.row {
  display: flex;
}

/* Header */

header {
  min-height: 30rem;
  background-image: url(../assets/banner-hero.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  position: relative;
}

.logo {
  margin-right: 2rem;
}

nav {
  width: 100%;
  background: rgba(59, 32, 11, 0.05);
  backdrop-filter: blur(10px);
}

.nav-container {
  max-width: 1200px;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0.2rem;
}

.navigation {
  gap: 1rem;
  margin-right: 5rem;
}

.navigation li a {
  transition: 0.5s ease;
}

.navigation li a:hover {
  color: var(--yellow);
}

.contact-box {
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-right: 6rem;
  width: 15rem;
}

.contact-us {
  align-items: center;
  gap: 0.5rem;
  background-color: var(--yellow);
  padding: 0.2rem;
  border-radius: 4px;
}

.socials {
  border-right: 1px solid black;
  padding-inline: 1rem;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding-block: 0.5rem;
}

.whatsapp-icon,
.instragram-icon {
  width: 1.2rem;
}

.ifood-icon {
  width: 1.8rem;
}

#mobile-btn {
  display: none;
  margin-right: 5rem;
  font-size: 1.5rem;
  transition: 0.5s ease;
}

#mobile-btn.active {
  transform: rotate(90deg);
}

.mobile-menu {
  text-align: center;
  background: rgba(59, 32, 11, 0.05);
  backdrop-filter: blur(10px);
  height: 0rem;
  overflow: hidden;
  transition: 0.5s ease;
  position: absolute;
  width: 100%;
}

.mobile-menu.active {
  height: 20rem;
  transition: 0.5s ease;
}

.mobile-menu-list {
  flex-direction: column;
  gap: 2rem;
}

.cta-btn {
  padding-block: 0.5rem;
  padding-inline: 1rem;
  background-color: var(--red);
  color: white;
  font-weight: bold;
  margin-top: 1rem;
  border-radius: 3px;
}
/* banner hero */

.hero-banner {
  max-width: 1200px;
  margin: 5rem auto 0 auto;
}

.hero-banner h1 {
  font-size: 5rem;
}

.text-highlight {
  color: var(--yellow);
}

.background-highlight {
  background-color: var(--yellow);
  border-radius: 3px;
  padding: 0.2rem;
  font-weight: bold;
}

.info {
  max-width: 1000px;
  position: absolute;
  background-color: white;
  align-items: center;
  left: 0;
  right: 0;
  bottom: -4rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  border-radius: 7px;
  box-shadow: 0px 4px 40px rgba(179, 155, 132, 0.5);
  flex-wrap: wrap;
  gap: .5rem;
}

.info-icons {
  background-color: var(--light-brown);
  padding: 0.5rem;
  border-radius: 50px;
}

.content-info {
  align-items: center;
 gap: 1rem;
}

@media (max-width: 768px) {
  .contact-box,
  .navigation {
    display: none;
  }

  #mobile-btn {
    display: block;
  }
}
